body {
    background-color: #E4E7ED;
}
.container {
    margin: 80px auto;
    width: 400px;
    background-color: #E4E7ED;
}
.input-box {
    width: 100%;
    margin: 15px;
    display: inline-block;
}
.lbl-input {
    font-size: 14px;
    display: inline-block;
    width: 100px;
}
input[type="text"],[type="password"] {
    box-shadow: 1px 1px 2px grey inset;
    padding-left: 10px;
}
.input-text {
    width: 67%;
    height: 30px;
    background-color: white;
    border: 0;

}
.input-text:focus {
    /* !important 안해도 동작함 */
    /* box-shadow: 0 0 5px #409EFF; */
    outline: none;
    border-color:#409EFF;
}
.input-text:focus::placeholder {
    color: transparent;
}
.lbl-radio {
    width:60px;
    /* text-transform: uppercase; */
    display:inline-block;
}
.input-email1 {
    width: 38%;
    height: 30px;
    background-color: white;
    border: 0;
}
.input-email1:focus {
    outline: none;
    border-color:#409EFF;
    box-shadow: 0 0 10px #409EFF;
}
.input-tel1 {
    width: 10%;
    height: 30px;
    background-color: white;
    border: 0;
}
.input-tel1:focus {
    outline: none;
    border-color:#409EFF;
    box-shadow: 0 0 10px #409EFF;
}
.input-tel2 {
    width: 22%;
    height: 30px;
    background-color: white;
    border: 0;
}
.input-tel2:focus {
    outline: none;
    border-color:#409EFF;
    box-shadow: 0 0 10px #409EFF;
}
#addressSearch {
    margin-left: 10px;
}


.selectBox:hover {
    outline: none;
    border-color:#409EFF;
    box-shadow: 0 0 10px #409EFF;
}
.select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
    background-size: 20px;
    padding: 7px 5px 7px 5px;
    border-radius: 4px;
    outline: 0 none;
}
.selectBox {
    position: relative;
    width: 100px;
    height: 30px;
    background-color: white;
    /* border: 2px solid #409EFF; */
}
.selectBox .select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3;
}
.selectBox .select option {
    background: #409EFF;
    color: #fff;
    padding: 3px 0;
    font-size: 16px;
}
  .selectBox .icoArrow {
    position: absolute; 
    top: 0; 
    right: 0; 
    z-index: 1; 
    width: 30px; 
    height: inherit;
    /* border-left: 2px solid #409EFF; */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.selectBox .icoArrow img {
    width: 50%;
    transition: .3s;
}
  
.selectBox .select:focus + .icoArrow img {
    transform: rotate(180deg);
}